.button{
    background-color: #1570EF;
    border: none;
    color: #fff;
    height: 48px;
    border-radius: 8px;
    padding-inline: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    &.full-width{
        width: 100%;
    }
    &.secondary{
        background-color: #f0f0f0;
        color: #333;
    }
}