.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

.avatar{
    font-size: 14px;
}
.app-container{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr;
}